* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-inputs: #FF725E;
}

body,
html {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;

}

body {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    overflow-y: hidden;
    /* max-width: 1200px; */
}

form,
.inputduplo,
button {
    display: flex;
}

form {
    /* background-color: aquamarine; */
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


h1 {
    font-family: system-ui;
    font-weight: 400;
    font-size: 7em;
    color: var(--color-inputs);

}

input[type="text"]::placeholder {
    width: 300px;
    font-size: 19px;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;

}

input[type="password"]::placeholder {
    width: 300px;
    font-size: 19px;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;

}

input {
    border: none;
    border-bottom: 1px solid var(--color-inputs);
    outline: 0;
    width: 80%;
    margin-top: 30px;
    height: 30px;
    font-size: 3.5em;
    background-color: transparent;
}

.inputduplo {
    width: 80%;
    margin-top: 40px;
    justify-content: center;
}

.rightinput {
    width: 100%;
    padding-right: 40px;
}

.rightinput>input {
    width: 100%;

}

.leftinput {
    width: 100%;
    padding-left: 40px;
}

.leftinput>input {
    width: 100%;
}

button {
    border: none;
    height: 35px;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 1em;
    display: block;
    background-color: #FF725E;
    width: 150px;
    box-shadow: rgba(100, 100, 111, 0.336) 0px 7px 29px 0px;
    font-size: 18px;
    margin-top: 24px;
}

button:hover {
    background-color: #ff4c35;
    color: aliceblue;
    font-size: 18px;

}

.figura {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff715e5b;
    height: 100vh;
    width: 50vw;
}

figure {
    /* background-color: antiquewhite; */
    height: 70em;

}

figure>img {
    width: 100%;
    height: 100%;
}


.error {
    font-size: 13px;
    font-family: system-ui;
    color: red;
}

@media (max-width: 800px) {
    body {
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    form {
        /* background-color: aquamarine; */
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    
    }

    .figura {
        z-index: -1;
        opacity: 0.1;
        position: absolute;
        width: 100vw;
    }

}

@media (max-width: 400px) {
    body {
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    form {
        /* background-color: aquamarine; */
        height: 100vh;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    
    }

    h1 {
        font-size: 6em;
    }

    input {
        border: none;
        border-bottom: 1px solid var(--color-inputs);
        outline: 0;
        width: 80%;
        margin-top: 15px;
        height: 30px;
        font-size: 3.5em;
        background-color: transparent;
    }

    .inputduplo {
        display: flex;
        flex-direction: column;
    }

    .leftinput,
    .rightinput {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .figura {
        z-index: -1;
        opacity: 0.09;
        position: absolute;
        width: 100vw;
    }


}